// CSS Var NOT Sass -- Optional, for Dark / Light Theme LP 

:root {
    --limegreen: hsl(163, 72%, 41%);
    --lightpurple: hsl(243, 78%, 82%);
    --hotpink: hsl(338, 100%, 69%);
    --offsetblue: hsl(240, 100%, 73%);
    --paleblue: hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
    --brightred:  hsl(0, 83%, 49%);

    --vrypaleblue: hsl(225, 100%, 98%);
    --desturatedblue: hsl(224, 23%, 55%);
    --darkblue: hsl(225, 46%, 20%);
    --offwhite: hsl(225, 50%, 98%);
    --vrydarkblue: hsl(226, 43%, 10%);
    --purple: hsl(246, 80%, 60%);
    --paleblue: hsl(236, 100%, 87%);

    --lightorange: hsl(15, 100%, 70%);
    --softblue: hsl(195, 74%, 62%);
    --lightred: hsl(348, 100%, 68%);
    --green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --yellow: hsl(43, 84%, 65%);

    --brightorange: hsl(31, 77%, 52%);
    --darkcyan: hsl(184, 100%, 22%);
    --vrydarkcyan: hsl(179, 100%, 13%);

    --vrylightgray: hsl(0, 0%, 95%);
    --transparentwht: hsla(0, 0%, 100%, 0.75);
}
